{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        compojure/compojure {:mvn/version "1.6.2"}
        ring/ring-jetty-adapter {:mvn/version "1.9.4"}
        ring/ring-json {:mvn/version "0.5.1"}}
 :aliases
 {:production
  {:extra-deps
   {cljs.java-time/cljs.java-time {:git/url "https://github.com/henryw374/cljc.java-time" :sha "b9da12ea25e80a0e284a5bffd88ebcbf18fc3bf7"}}}
  :jetty
  {:main-opts ["-m" "atomist.web.handler" "hello"]}}}
