{:main atomist.web.handler
 :aot true
 :target-image {:type :tar
                :image-name "111664719423.dkr.ecr.us-west-1.amazonaws.com/ecr-codebuild-clj-web"
                :tagger {:fn jibbit.tagger/tag}
                #_#_:authorizer {:fn leiningen.aws-ecr-auth/ecr-auth
                             :args 
                             {:type :profile
                              :profile-name "sts-us-west-1"
                              :region "us-west-1"}}}}

